/* REGOLE GENERALI */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.container{
  width: 1000px;
  margin: 0 auto;
  /* regole di debug 
border: 1px solid rgb(0, 81, 255);
min-height: 100px;
  /* fine debug */
}
/* flex */
.flex{
  display: flex;
  flex-wrap: wrap;
}
.absolute{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* list */
ul{
  list-style: none;
}
/* link */
a{
  text-decoration: none;
  color: black;
}
/* fonts */
.font-big{
  font-size: 50px;
}
.font-medium{
  font-size: 30px;
}
.font-small{
  font-size: 11px;
}


/******* INIZIO REGOLE HEADER *******/
header{
  background-color: white;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0%;
  width: 100%;
  /* regole di debug */
  height: 100px;
  /* fine debug */
  }
  header .flex{
    justify-content: space-between;
  }
  header nav{
    height: 100%;
    text-align: center;
  }
  header .logo img,
  header .logo{
    height: 100%;
  }
  header li{
    height: 100%; width: 100px;
    display: inline-block;
    padding: 10px;
  }
  header .icon{
    margin: 7px 0;
  }
  header .active{
    background-color: orange;
  }
  header .active a{
    color: white;
  }
/******* FINE HEADER *******/

/******* INIZIO REGOLE MAIN *******/
main,
footer{
  background-color: rgb(240, 240, 240);
  color: gray;
}
/* padding */
section.welcome,
section.info-a,
section.our-class,
section.info-b,
section.staff,
section.news,
section.contact,
footer .top{
  padding: 50px 0;
}

/* title */
main .title-box{
  margin-bottom: 50px;
  text-align: center;
}
main .title{
  color: blueviolet;
}

.welcome .title-box p,
.our-class .title-box p,
.staff .title-box p,
.news .title-box p,
.contact .title-box p{
  margin: 20px 0;
}
.staff .button-link,
.info-a .button-link,
.contact .button-link{
  background-color: orangered;
  color: white;
  padding: 10px;
  display: inline-block;
}
.staff .image .box,
.our-class .image .box{
  display: flex;
  justify-content: space-between;
  width: calc(50% - 15px); /*-15px*/
  min-height: 100px;
  margin-top: 30px;
}
.news .image .box.sx,
.staff .image .box.sx,
.our-class .image .box.sx{
  margin-left: 15px; /* +15 */
}
.news .image .box.dx,
.staff .image .box.dx,
.our-class .image .box.dx{
  margin-right: 15px; /* +15 */
}

/**** carousel a - b e c ****/
.carousel{
  height: 500px;
  text-align: center;
}
.carousel.b,
.carousel.c {
  color: white;
  width: 100%;
  align-items: center;
  background-repeat: no-repeat;
}
main .circle{
  display: inline-block;
  width: 40px; height: 40px;
  border: 1px solid;
  border-radius: 50%;
  padding: 80px;
  position: relative;
}
.carousel.a .squere,
.carousel.b .squere,
.carousel.c .squere {
  display: inline-block;
  width: 20px; height: 10px;
  border: 1px solid;
}

/* carousel a */
.carousel.a{
  background-image: url(../images/slider_slide3_background.png);
}

/**** barra a e b ****/
.barra{
  background-image: url(../images/pattern.png);
}
.barra .container{
  min-height: 100px;
}
.barra,
.barra a{
  color: white;
}
.barra a{
  font-size: 18px;
  border: 1px solid;
  padding: 10px;
}
.barra a span{
  margin-right: 3px;
}
.barra a:hover{
  background-color: white;
  color: blueviolet;
}
.barra .container{
  justify-content: space-between;
  align-items: center;
  height: 50px;
}


/**** welcome ****/
.welcome{
  text-align: center;
}
.welcome .circle{
  border: 0;
}
.welcome .orange-background{
  background-color: orangered;
}
.welcome .orange-color{
  color: orangered;
}
.welcome .violet-background{
  background-color: blueviolet;
}
.welcome .violet-color{
  color: blueviolet;
}

/**** info a e b ****/
.info-a .box,
.info-b .box {
  width: 50%;
}

/* info a */
.gallery.box .active{
  width: 100%;
  vertical-align: bottom;
  margin-bottom: 12px;
}
.gallery.box .flex{
  width: calc(100%);
}
.gallery.box .img-dot img{
  width: calc(100% / 3 - 8px);
}
.gallery.box .img-dot img.sx{
  margin-left: 12px;
}
.gallery.box .img-dot img.dx{
  margin-right: 12px;
}
.info-a .title,
.info-a .button{
  margin: 20px 0;
}
.info-a .box-circle{
  width: 100%;
  margin: 20px 0;
}
.info-a .circle{
  padding: 40px;
  border: 0;
  background-color: orangered;
  margin-right: 30px;
}
.info-a .box-circle p{
  width: 70%;
}

/* carousel b */
.carousel.b{
  background-image: url(../images/parallax_01.jpg);
}
.welcome .flex,
.carousel.b .flex{
  justify-content: space-around;
}
.welcome .box,
.carousel.b .box{
  width: 200px;
}

/* our-class */
.our-class .image.flex{
  width: 100%;
  color: white;
}
.staff .text-right,
.our-class .text-right{
  padding-left: 20px;
}
.our-class .image-box,
.our-class .text-box{
  width: 50%;
}
.our-class .text-box.flex{
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.our-class .image img{
  width: 100%;
  display: block;
}
.our-class .box{
  background-color: blueviolet;
}
.our-class .text-bottom span{
  margin: 0 10px;
}

/**** info b ****/
.info-b p{
  margin: 30px 0;
}
.info-b .box.flex{
  text-align: center;
  width: 50%;
}
.info-b .flex .circle-box {
  width: 50%;
}
.info-b .circle{
  padding: 40px;
  border: 0;
  background-color: white;
}

/**** class e staff ****/
.our-class .text-right,
.our-class .text-left,
.staff .text-right,
.staff .text-left{
  width: 50%;
  /* regole di debug 
  border: 1px solid;
  /* fine debug */
}
.our-class .images .box,
.staff .images .box{
  width: 50%;
  /* regole di debug 
  border: 1px solid;
  /* fine debug */
}

/**** carousel c ****/
.carousel.c{
  background-image: url(../images/parallax_02.jpg);
}
.carousel.c .circle{
  padding: 30px;
}
.carousel.c .line{
  display: inline-block;
  margin-bottom: 5px;
}
.carousel.c .cit{
  margin: 10px 0;
}

/**** news ****/
.news .image .box{
  width: calc(100% / 3 - 20px);
}
.news .image .date,
.news .image h1{
  margin-bottom: 20px;
}
.news .image img{
  width: 100%;
}
.news .line{
  width: 100%;
  margin: 20px 0;
}
.news .box-icon span{
  margin-right: 10px;
}
.news .box-icon img{
  width: 15px;
  margin-right: 5px;
}
.news a{
  color: gray;
}

/**** section child images ****/
.child-images.flex{
  width: 100%;
}
.child-images .img{
  width: 25%;
}
.child-images img{
  width: 100%;
  vertical-align:bottom
}

/**** staff ****/
.staff .image-box{
  text-align: center;
  width: 50%;
}
.staff .text-box{
  width: 50%;
  padding: 10px;
  padding-top: 30%;
}
.staff .image-box h2{
  margin: 10px 0;
}
.staff .image-box span{
  margin-bottom: 30px;
}
.staff .text-box p{
  margin-bottom: 10px;
}
.staff .image-box img{
  width: 100%;
}
.staff .button a{
  position: relative;
  font-size: 25px;
  padding: 15px;
}

/**** mappa ****/
.map.flex{
  width: 100%;
  position: relative;
}
.map div{
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
}
.map img{
  width: calc(100% / 5);
}

/**** contact us ****/
.contact .info.flex{
  text-align: center;
  margin-bottom: 30px;
}
.contact .box{
  width: 25%;
}
.contact .box h1{
  margin: 20px 0;
}
.form-left,
.form-right{
  width: 50%; height: 200px;
  margin: 30px 0;
}
input,
textarea{
  width: 100%; height: 100%;
}
.form-left{
  flex-direction: column;
  justify-content: space-between;
}
.form-left input{
  height: 50px;
}
.contact .button{
  text-align: center;
}
.contact .button-link:hover{
  background-color: blueviolet;
}
/******* FINE MAIN *******/

/******* INIZIO REGOLE FOOTER *******/

/**** top ****/
footer .top{
  background-image: url(../images/pattern.png);
  background-repeat: no-repeat;
  color: lightgray;
}
footer .box{
  width: 25%;
  padding: 10px;
}
footer .title{
  margin-bottom: 20px;
  color: white;
}
.line{
  width: 40px; height: 1px;
  background-color: lightgray;
  margin-top: 5px;
}
footer .top a{
  color: lightgray;
}

/* about */
.about p,
.features p{
  margin-bottom: 20px;
}
footer .about img{
  width: 100px;
}

/* archives */
.archives li,
.features li{
  margin-bottom: 10px;
}
footer .archives li{
  border: 1px solid;
  padding: 5px;
}
footer .archives li:hover{
  border: 1px solid white;

}
footer .archives a{
  display: block;
  width: 100%;
}

/* features */
footer .features img{
  margin-right: 2px;
}

/* posts */
.posts .flex{
  width: 100%;
}
.posts .posts-image{
  width: 40px;
  margin-right: 5px;
  margin-bottom: 10px;
}
.posts p:hover{
  color: white;
  text-decoration: underline white;
}

/**** bottom ****/
/* social */
footer .bottom{
  text-align: center;
}
.social a{
  padding: 1px;
}
.social img{
  border: 1px solid orange;
  background-color: orange;
  margin: 10px 0;
}

/******* FINE FOOTER *******/