/* regole generali */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.container{
  width: 1000px;
  margin: 0 auto;
  /* regole di debug */
border: 1px solid rgb(0, 81, 255);
min-height: 100px;
  /* fine debug */
}
/* flex */
.flex{
  display: flex;
  flex-wrap: wrap;
}
/* regole di debug */
  header{
    background-color: red;
    min-height: 100px;
  }
/* fine debug */

/* regole di debug */
main section{
  min-height: 100px;
  background-color: lightgray;
}
/* fine debug */

/* carosel a - b e c */
.carosel{
  height: 500px;
  text-align: center;
  border: 3px solid;
}

/* barra a e b*/
.barra{
  background-color: purple;
}
.barra .container{
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
}
.circle .box{
  width: 25%;
  /* regole di debug */
  background-color: lightgreen;
  border: 1px solid #ffffff;
  min-height: 100px;
  /* fine debug */
}
/* info a e b */
.info-a .box,
.info-b .box {
  width: 50%;
  /* regole di debug */
  background-color: lightgreen;
  border: 1px solid white;
  min-height: 200px;
  /* fine debug */
}
.our-class .text-right,
.our-class .text-left,
.staff .text-right,
.staff .text-left{
  width: 50%;
  /* regole di debug */
  border: 1px solid;
  /* fine debug */
}
.our-class .images .box,
.staff .images .box{
  width: 50%;
  /* regole di debug */
  border: 1px solid;
  /* fine debug */
}

/* sectiom child images */
.child-images{
  width: 100%;
}
.child-images .img{
  width: 25%;
}

.news .images .box{
  width: calc(100% / 3);
}

/* contact us */
.contact .box{
  width: 25%;
}
.form-left,
.form-right{
  width: 50%; height: 200px;
}
input,
textarea{
  width: 100%; height: 100%;
}
.form-left{
  flex-direction: column;
  justify-content: space-between;
}
.form-left input{
  height: 50px;
}


/* regole di debug */
footer{
  background-color: rgb(255, 217, 0);
  min-height: 100px;
}
/* fine debug */