/* REGOLE GENERALI */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.container{
  width: 1000px;
  margin: 0 auto;
  /* regole di debug */
border: 1px solid rgb(0, 81, 255);
min-height: 100px;
  /* fine debug */
}
/* flex */
.flex{
  display: flex;
  flex-wrap: wrap;
}
/* list */
ul{
  list-style: none;
}
/* link */
a{
  text-decoration: none;
  color: black;
}

/******* INIZIO REGOLE HEADER *******/
header{
  background-color: white;
  margin-bottom: 100px;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0%;
  width: 100%;
  /* regole di debug */
  height: 100px;
  /* fine debug */
  }
  header .flex{
    justify-content: space-between;
  }
  header nav{
    height: 100%;
    text-align: center;
  }
  header .logo img,
  header .logo{
    height: 100%;
  }
  header li{
    height: 100%; width: 100px;
    display: inline-block;
    padding: 10px;
  }
  header .icon{
    margin: 7px 0;
  }
  .active{
    background-color: orange;
  }
  .active a{
    color: white;
  }
/******* FINE HEADER *******/

/******* INIZIO REGOLE MAIN *******/
/* regole di debug */
main section{
  min-height: 100px;
  background-color: lightgray;
}
/* fine debug */

/**** carosel a - b e c ****/
.carosel{
  height: 500px;
  text-align: center;
  border: 3px solid;
}

/**** barra a e b ****/
.barra{
  background-color: purple;
}
.barra .container{
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
}
.circle .box{
  width: 25%;
  /* regole di debug */
  background-color: lightgreen;
  border: 1px solid #ffffff;
  min-height: 100px;
  /* fine debug */
}
/**** info a e b ****/
.info-a .box,
.info-b .box {
  width: 50%;
  /* regole di debug */
  background-color: lightgreen;
  border: 1px solid white;
  min-height: 200px;
  /* fine debug */
}
.our-class .text-right,
.our-class .text-left,
.staff .text-right,
.staff .text-left{
  width: 50%;
  /* regole di debug */
  border: 1px solid;
  /* fine debug */
}
.our-class .images .box,
.staff .images .box{
  width: 50%;
  /* regole di debug */
  border: 1px solid;
  /* fine debug */
}

/**** section child images ****/
.child-images{
  width: 100%;
}
.child-images .img{
  width: 25%;
}

.news .images .box{
  width: calc(100% / 3);
}

/**** contact us ****/
.contact .box{
  width: 25%;
}
.form-left,
.form-right{
  width: 50%; height: 200px;
}
input,
textarea{
  width: 100%; height: 100%;
}
.form-left{
  flex-direction: column;
  justify-content: space-between;
}
.form-left input{
  height: 50px;
}
/******* FINE MAIN *******/

/******* INIZIO REGOLE FOOTER *******/
/* regole di debug */
footer{
  min-height: 100px;
}
/* fine debug */
/**** top ****/
footer .top{
  background-image: url(../images/pattern.png);
  background-repeat: no-repeat;
  color: lightgray
}
footer .box{
  width: 25%;
  padding: 10px;
}
footer .title{
  margin-bottom: 20px;
  color: white;
}
footer .line{
  width: 40px; height: 1px;
  background-color: lightgray;
  margin-top: 5px;
}
footer .top a{
  color: lightgray;
}

/* about */
.about p,
.features p{
  margin-bottom: 20px;
}
footer .about img{
  width: 100px;
}

/* archives */
.archives li,
.features li{
  margin-bottom: 10px;
}
footer .archives li{
  border: 1px solid;
  padding: 5px;
}
footer .archives li:hover{
  border: 1px solid white;

}
footer .archives a{
  display: block;
  width: 100%;
}

/* features */
footer .features img{
  margin-right: 2px;
}

/* posts */
.posts .flex{
  width: 100%;
}
.posts .posts-image{
  width: 40px;
  margin-right: 5px;
  margin-bottom: 10px;
}
.posts p:hover{
  color: white;
  text-decoration: underline white;
}

/**** bottom ****/
/* social */
footer .bottom{
  text-align: center;
}
.social a{
  padding: 1px;
}
.social img{
  border: 1px solid orange;
  background-color: orange;
  margin: 10px 0;
}
.copyright{
  font-size: 11px;
  color: gray;
}

/******* FINE FOOTER *******/