<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/f9888a3f24.css">
    <link rel="stylesheet" href="css/main.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>fable</title>
</head>

<body>

    <!-------- INIZIO HEADER -------->
    <header id="app-header">

        <!-- logo e barra di navigazione -->
        <nav class="container flex">
            <a href="#" class="logo">
                <img :src="logo" alt="">
            </a>

            <ul>
                <li v-for="(link, index) in headerLinks" :class="(index === 0 ? 'active' : '')">
                    <a href="#">
                        <div class="icon">
                            <img v-if="index === 0" :src="link.imgB">
                            <img v-else :src="link.imgA">
                        </div>
                        <p>{{ link.text }}</p>
                    </a>
                </li>
            </ul>
        </nav>

    </header>
    <!-------- FINE -------->


    <!-------- INIZIO MAIN -------->
    <main>

        <!-- carosel-A -->
        <section class="carosel a">
            <img src="images/" alt="">

        </section>

        <!-- barra-A -->
        <section class="barra">
            <div class="container flex">
                <p class="font-medium">How to Enroll Your Child to a Class?</p>

                <a href="#" class="button">
                    <span>Learn More</span>
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </a>
            </div>
        </section>


        <!-- welcom to fable -->
        <section class="welcome container">
            <div class="title-box">
                <p class="title font-big">Welcome to Fable</p>
                <p class="gray">Fable daycare, preschool, and kindergarten</p>
                <img src="images/header_divider.png" alt="">
            </div>

            <div class="flex">
                <div class="box">

                    <div class="circle orange-background">
                        <img class="absolute" src="images/schoolbag_alt.png" alt="">
                    </div>

                    <h1 class="orange-color">Morbi Etos</h1>
                    <span class="text gray">Praesent interdum est gravida vehicula est node maecenas loareet morbi a
                        dosis luctus novum est praesent.</span>

                </div>

                <div class="box">

                    <div class="circle violet-background">
                        <img class="absolute" src="images/stroller_alt.png" alt="">
                    </div>

                    <h1 class="violet-color">Congue Gravida</h1>
                    <span class="text gray">Elipsis magna a terminal nulla elementum morbi elite forte maecenas est
                        magna etos interdum vitae est.</span>

                </div>

                <div class="box">

                    <div class="circle orange-background">
                        <img class="absolute" src="images/globe_alt.png" alt="">
                    </div>

                    <h1 class="orange-color">Maecenas Node</h1>
                    <span class="text gray">Praesent interdum est gravida vehicula est node maecenas loareet morbi a
                        dosis luctus novum est praesent.</span>

                </div>

                <div class="box">

                    <div class="circle violet-background">
                        <img class="absolute" src="images/bell_alt.png" alt="">
                    </div>

                    <h1 class="violet-color">Praesent Morbi</h1>
                    <span class="text gray">Elipsis magna a terminal nulla elementum morbi elite forte maecenas est
                        magna etos interdum vitae est.</span>

                </div>
            </div>
        </section>

        <!-- informazioni-A -->
        <section class="info-a">
            <div class="container flex">
                <div class="box">
                    testo lungo
                </div>

                <div class="box">
                    galleria immagini
                </div>
            </div>

        </section>

        <!-- carosel-B -->
        <section class="carosel b flex">
            <div class="container">

                <div class="flex">
                    <div class="box">

                        <div class="circle">
                            <span class="absolute font-big">100</span>
                        </div>

                        <h1>Our Pupils</h1>
                        <span class="text">Pulvinar forte maestro node terminal est elipsis prism.</span>

                    </div>

                    <div class="box">

                        <div class="circle">
                            <span class="absolute font-big">100</span>
                        </div>

                        <h1>Teaching Hours</h1>
                        <span class="text">Elipsis morbi nulla a metro interdum vitae elite.</span>

                    </div>

                    <div class="box">

                        <div class="circle">
                            <span class="absolute font-big">100</span>
                        </div>

                        <h1>Satisfied Parents</h1>
                        <span class="text">Elementum pulvinar detos diaspis movum blandit.</span>

                    </div>

                    <div class="box">

                        <div class="circle">
                            <span class="absolute font-big">100</span>
                        </div>

                        <h1>Meals Per Year</h1>
                        <span class="text">Pulvinar forte maestro node terminal est elipsis prism.</span>

                    </div>

                </div>

                <div>
                    <div class="squere active"></div>
                    <div class="squere"></div>
                    <div class="squere"></div>
                    <div class="squere"></div>
                    <div class="squere"></div>
                    <div class="squere"></div>
                </div>
            </div>
        </section>

        <!-- our class -->
        <section class="our-class container">
            <div class="title-box">
                <p class="title font-big">Our Classes</p>
                <p class="gray">Our preschool program has four dedicated classes</p>
                <img src="images/header_divider.png" alt="">
            </div>

            <div class="text flex">

                <div class="text-left font-medium">
                    We provided four classes with nine to twenty children each aged twelve month to five years of age.
                </div>

                <div class="text-right">
                    Praesent arcu gravida vehicula est node maecenas loareet morbi a dosis luctus. Urna eget lacinia
                    eleifend praesent luctus a arcu quis facilisis venenatis. Aenean interdum, nibh vitae sodales, magna
                    ante feugiat elit maecenas.
                </div>

            </div>

            <div class="image flex">
                <div class="box dx">

                    <div>
                        testo con immagine sx
                    </div>

                    <img src="images/class_01-690x506.jpg" alt="">

                </div>

                <div class="box sx">

                    <div>
                        testo con immagine sx
                    </div>

                    <img src="images/class_02-690x506.jpg" alt="">

                </div>

                <div class="box dx">

                    <div>
                        testo con immagine sx
                    </div>

                    <img src="images/class_03-690x506.jpg" alt="">

                </div>

                <div class="box sx">

                    <div>
                        testo con immagine sx
                    </div>

                    <img src="images/class_04-690x506.jpg" alt="">

                </div>
            </div>
        </section>

        <!-- informazioni-B -->
        <section class="info-b">
            <div class="container flex">

                <div class="box">
                    testo lungo
                </div>

                <div class="box">
                    iconcine
                </div>

            </div>
        </section>

        <!-- foto bambini -->
        <section class="child-images flex">

            <div class="img">
                
                <a href="#"><img src="images/gallery_01.jpg" alt=""></a>

            </div>

            <div class="img">
                
                <a href="#"><img src="images/gallery_02.jpg" alt=""></a>

            </div>

            <div class="img">

                <a href="#"><img src="images/gallery_03.jpg" alt=""></a>

            </div>

            <div class="img">
                
                <a href="#"><img src="images/gallery_04.jpg" alt=""></a>

            </div>

        </section>

        <!-- barra-B -->
        <section class="barra">
            <div class="container flex">
                <p class="font-medium">Lorem ipsum dolor, sit amet consectetur adipisicing elit?</p>

                <a href="#" class="button">
                    <span>Learn More</span>
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </a>
            </div>
        </section>

        <!-- meet our staff -->
        <section class="staff container">

            <div class="title-box">
                <p class="title font-big">Meet our Staff</p>
                <p class="gray">loremloremlorem</p>
                <img src="images/header_divider.png" alt="">
            </div>

            <div class="text flex">
                <div class="text-right font-medium">
                    Our staff consists of three teachers and one assistant with experience in early childhood care.
                </div>

                <div class="text-left gray">
                    Praesent arcu gravida vehicula est node maecenas loareet morbi a dosis luctus. Urna eget lacinia
                    eleifend praesent luctus a arcu quis facilisis venenatis. Aenean interdum, nibh vitae sodales, magna
                    ante feugiat elit maecenas.
                </div>

            </div>

            <div class="image flex">
                <div class="box dx">

                    <img src="images/team_04.jpg" alt="">

                    <div>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque, recusandae tempora molestiae
                        commodi hic error nam ducimus, porro esse temporibus optio magni veniam, ex laudantium. Nulla
                        iste adipisci pariatur mollitia.
                    </div>

                </div>

                <div class="box sx">

                    <img src="images/team_03.jpg" alt="">

                    <div>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil iure molestias quasi tempore
                        dicta commodi, consequatur est veritatis neque nemo, animi doloribus voluptas aspernatur
                        expedita, quis esse suscipit? Dicta, placeat!
                    </div>

                </div>

                <div class="box dx">

                    <img src="images/team_02.jpg" alt="">

                    <div>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat officia veniam, nostrum quia
                        modi cum cupiditate dolores, vitae odit ipsum dolorem obcaecati nihil. Dicta dolor consequatur
                        cumque ducimus corporis corrupti.
                    </div>

                </div>

                <div class="box sx">
                    <img src="images/team_01.jpg" alt="">

                    <div>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis maxime, sequi eius, facere
                        error dolorum sed minima aspernatur accusantium quaerat dicta provident. Similique dolores
                        deleniti atque corporis ullam, voluptatem tenetur.
                    </div>

                </div>
            </div>

        </section>

        <!-- carosel-C -->
        <section class="carosel c flex">
            <div class="container">

                <div class="circle">
                    <img class="absolute" src="images/quote_alt.png" alt="">
                </div>

                <p class="font-medium">Fable Kindergarten is a great place for my daughter to start her schooling
                    experience. It’s welcoming and safe and my daughter loves being there.</p>

                <div class="line"></div>

                <p class="cit">Joe R. Hamblen</p>

                <div>
                    <div class="squere"></div>
                    <div class="squere"></div>
                    <div class="squere"></div>
                    <div class="squere active"></div>
                    <div class="squere"></div>
                    <div class="squere"></div>
                </div>
            </div>
        </section>

        <!-- what's news -->
        <section class="news container">
            <div class="title-box">
                <p class="title font-big">What's New</p>
                <p class="gray">Keep up to date with the latest news</p>
                <img src="images/header_divider.png" alt="">
            </div>

            <div class="image flex">
                <div class="box dx">
                    <div class="date gray">October 03, 2014</div>

                    <img src="images/blog_09-525x315.jpg" alt="">
                    <h1>Drawing and Painting Lessons</h1>
                    <p>Magna est consectetur interdum modest dictum. Curabitur est faucibus, malesuada esttincidunt etos
                        et mauris, nunc a libero govum est cuprum <a class="gray" href="#">[...]</a></p>
                    <div class="line"></div>
                    icon
                </div>

                <div class="box sx dx">
                    <div class="date gray">October 03, 2014</div>

                    <img src="images/blog_10-525x315.jpg" alt="">
                    <h1>Drawing and Painting Lessons</h1>
                    <p>Magna est consectetur interdum modest dictum. Curabitur est faucibus, malesuada esttincidunt etos
                        et mauris, nunc a libero govum est cuprum <a class="gray" href="#">[...]</a></p>
                    <div class="line"></div>
                    icon

                </div>

                <div class="box sx">
                    <div class="date gray">October 03, 2014</div>

                    <img src="images/blog_08-525x315.jpg" alt="">
                    <h1>Drawing and Painting Lessons</h1>
                    <p>Magna est consectetur interdum modest dictum. Curabitur est faucibus, malesuada esttincidunt etos
                        et mauris, nunc a libero govum est cuprum <a class="gray" href="#">[...]</a></p>
                    <div class="line"></div>
                    icon
                </div>
            </div>

            <a href="#">lorem</a>
        </section>

        <!-- mappa -->
        <section>
            ?
        </section>

        <!-- contact us-->
        <section class="contact container">
            <div class="title-box">
                <p class="title font-big">Contact Us</p>
                <p class="gray">Our postal address and contact details</p>
                <img src="images/header_divider.png" alt="">
            </div>


            <div class="info flex">
                <div class="postal box">
                    <h1>Adress</h1>
                    <p class="gray">
                        Fable Care Center<br>
                        85 Fentiman Ave<br>
                        Ottawa, ON K1S 0T7<br>
                    </p>
                </div>

                <div class="phone box">
                    <h1>& E-mail</h1>
                    <p class="gray">
                        Phone: 1-800-64-38<br>
                        Fax: 1-800-64-39<br>
                        office@fable.com<br>
                    </p>
                </div>

                <div class="business box">
                    <h1>Business-Hours</h1>
                    <p class="gray">
                        Monday – Friday<br>
                        8.00 am – 5.00 pm<br>
                        Weekend Closed<br>
                    </p>
                </div>

                <div class="sessions box">
                    <h1>Sessions</h1>
                    <p class="gray">
                        Mornings, 8 am – 12 noon<br>
                        Afternoons, 1 pm – 5 pm<br>
                        Full Day, 8 am – 5 pm<br>                    
                    </p>
                </div>
            </div>

            <div class="form flex">
                <div class="form-left flex">
                    <div><input type="text" placeholder="Your Name*"></div>
                    <div><input type="email" placeholder="Your Email*"></div>
                    <div><input type="text" placeholder="Subject"></div>
                </div>

                <div class="form-right">
                    <textarea cols="30" rows="10" placeholder="Your Message*"></textarea>
                </div>

            </div>

            <a href="#">lorem</a>
            </div>


        </section>
    </main>
    <!-------- FINE -------->


    <!-------- INIZIO FOOTER -------->
    <footer id="app-footer">

        <!-- parte sopra del footer -->
        <div class="top container">
            <div class="flex">

                <!-- about us -->
                <div class="about box">
                    <div class="title">
                        <h4>About Us</h4>
                        <div class="line"></div>
                    </div>

                    <p>Elipsis magna a nulla elite forte maecenas est elementum magna etos interdum movum morbi
                        vehicula morbi.</p>
                    <a href=""><img :src="logo" alt=""></a>
                </div>

                <!-- archives -->
                <div class="archives box">
                    <div class="title">
                        <h4>Archives</h4>
                        <div class="line"></div>
                    </div>

                    <ul>
                        <li v-for="link in archivesLinks"><a href="#">{{ link }}</a></li>
                    </ul>
                </div>

                <!-- our features -->
                <div class="features box">
                    <div class="title">
                        <h4>Our Features</h4>
                        <div class="line"></div>
                    </div>

                    <p>Nunc gravida rutrum mauris vehin hasellus ac pretium augue vivamul lacus ligul mattis ac vene:
                    </p>
                    <ul>
                        <li>
                            <img src="images/style_4_alt.png"><span>Friendly and welcoming place</span>
                        </li>

                        <li>
                            <img src="images/style_4_alt.png"><span>Science and art classes</span>
                        </li>

                        <li>
                            <img src="images/style_4_alt.png"><span>Positive learning environment</span>
                        </li>

                        <li>
                            <img src="images/style_4_alt.png"><span>Educational field trips</span>
                        </li>

                        <li>
                            <img src="images/style_4_alt.png"><span>Writing and reading classes</span>
                        </li>

                        <li>
                            <img src="images/style_4_alt.png"><span>Science and art classes</span>
                        </li>
                    </ul>
                </div>

                <!-- recent posts -->
                <div class="posts box">
                    <div class="title">
                        <h4>Recent posts</h4>
                        <div class="line"></div>
                    </div>

                    <ul>
                        <li class="flex" v-for="link in postLinks">
                            <a href="#"><img class="posts-image" :src="link.img" alt=""></a>

                            <div>
                                <a href="#" class="posts-text">
                                    <p>{{ link.text }}</p>
                                </a>
                                <img :src="postIcon" alt="">
                                <span>{{ link.date }}</span>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- parte sotto del footer -->
        <div class="bottom container">
            <div class="social">
                <a href="#" v-for="social in socialLinks"><img :src="social" alt=""></a>
            </div>
            <div class="copyright font-small gray">© Fable - Children Kindergarten WordPress Theme by QuanticaLabs</div>
        </div>

    </footer>
    <!-------- FINE -------->



    <script src="js/script.js"></script>
</body>

</html>